<section class="above-the-fold">
    <div class="triage-cta-container">
        <div class="triage-cta">
            <div class="left">
                <h3>Worried that you might be <strong>infected</strong>?</h3>
                <h4>Try our <strong>COVID-19 Self Assessment and Triage Tool</strong> now and find out
                    your risk level</h4>
                <a href="triage" class="button"><span>Self-Triage Now</span></a>
            </div>
            <div class="right">
                <div class="ncov-img-container">
                </div>
            </div>
        </div>
    </div>
    <div class="open-places-container">
        <div class="open-places">
            <div class="open-places-top">
                <h3>AVAILABLE INFO</h3>
            </div>
            <div class="open-places-main">
                <div class="stat-container">
                    <div class="stat clinics">
                        <small>clinics</small>
                        <h2>999</h2>
                    </div>
                    <div class="stat grocery">
                        <small>grocery stores</small>
                        <h2>999</h2>
                    </div>
                    <div class="stat drugstore">
                        <small>pharmacies</small>
                        <h2>999</h2>
                    </div>
                    <div class="stat road">
                        <small>roads</small>
                        <h2>999</h2>
                    </div>
                </div>
                <a href="" class="button">Submit Citizen's Report</a>
            </div>
        </div>
    </div>
</section>
<section class="hospital-search">
    <div class="hospital-search-content">
        <h1>Search for Hospitals</h1>
        <h5>Find out more about the healthcare facilities in your area.</h5>
        <div class="search-form">
            <div class="search-field">
                <span class="icon icon-map"></span>
                <input type="text" class="input-field-text" placeholder="Province">
            </div>
            <div class="search-field">
                <span class="icon icon-place"></span>
                <input type="text" class="input-field-text" placeholder="City">
            </div>
            <div class="search-field">
                <span class="icon icon-search"></span>
                <input type="text" class="input-field-text" placeholder="Name of Hospital">
            </div>
            <a href="" class="button">Find Now</a>
        </div>
    </div>
</section>

<section class="news-callouts">
    <div class="section-headline">
        <h2>Latest News & Announcements</h2>
    </div>
    <div class="latest-news-container">
        <div class="news-image">
            <img src="./ASSETS/img/news-callout.jpg" alt="">
        </div>
        <div class="news-info">
            <h3 class="news-headline">Lorem, ipsum dolor sit amet</h3>
            <small>CNN PHILIPPINES | March 26, 2020 8:30AM</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vitae, deleniti natus
                necessitatibus, quibusdam delectus libero quod inventore ipsum nulla ipsam nobis temporibus
                autem numquam officiis dicta! Numquam, dolore magni!</p>
            <a href="" class="button">Read More</a>
        </div>
    </div>
    <div class="other-news-container">
        <div class="other-news-card">
            <div class="top-bar green"></div>
            <div class="other-news-card-bottom green">
                <h5 class="news-headline">Lorem, ipsum dolor sit amet</h5>
                <small>CNN PHILIPPINES | March 26, 2020 8:30AM</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vitae, deleniti natus
                    necessitatibus, quibusdam delectus.</p>
                <span class="green">Read More</span>
            </div>
        </div>
        <div class="other-news-card">
            <div class="top-bar yellow"></div>
            <div class="other-news-card-bottom yellow">
                <h5 class="news-headline">Lorem, ipsum dolor sit amet</h5>
                <small>CNN PHILIPPINES | March 26, 2020 8:30AM</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vitae, deleniti natus
                    necessitatibus, quibusdam delectus.</p>
                <span class="yellow">Read More</span>
            </div>
        </div>
        <div class="other-news-card">
            <div class="top-bar red"></div>
            <div class="other-news-card-bottom red">
                <h5 class="news-headline">Lorem, ipsum dolor sit amet</h5>
                <small>CNN PHILIPPINES | March 26, 2020 8:30AM</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vitae, deleniti natus
                    necessitatibus, quibusdam delectus.</p>
                <span class="red">Read More</span>
            </div>
        </div>
    </div>
</section>